.button {
  background-color: transparent;
  color: inherit;
  border-radius: 4px;
  border: none;
  padding: 14px 10px;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  user-select: none;
  vertical-align: middle;
}

.button .icon_right {
  margin-left: 6px;
}
.button .icon_left {
  margin-right: 6px;
}

.button_primary {
  background-color: #595cff;
  color: #fff;
  min-width: 138px;
}

.button_primary:hover,
.button_primary:focus,
.button_primary:active {
  background-color: #9597e5;
  color: white;
  outline: none;
}

.button_outline_primary {
  border: 1px solid #595cff;
  border-radius: 4px;
  color: black;
  background-color: transparent;
}

.button_outline_primary:hover,
.button_outline_primary:focus,
.button_outline_primary:active {
  background-color: #595cff;
  color: #fff;
  outline: none;
}

.button_secondary {
  background-color: white;
  border-radius: 4px;
  font-size: 2em;
}

.button_secondary:hover,
.button_secondary:focus,
.button_secondary:active {
  background-color: #9597e5;
  color: white;
  outline: none;
}

.button_link:hover,
.button_link:focus,
.button_link:active {
  color: #595cff;
}

.button_icon {
  min-width: 0;
  width: 46px;
  height: 46px;
}
.button_icon > .icon {
  margin: 0;
}

.button_icon > .icon-arrow {
  font-size: 2em;
}

.button_rounted {
  border-radius: 46px;
}

/* 
.button_secondary {
  background-color: red;
  color: #fff;
  min-width: 138px;
}

.button_secondary:hover,
.button_secondary:focus,
.button_secondary:active {
  background-color: blue;
  color: white;
  outline: none;
} */
