.prodcard_title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}


.prodcard_title_switch{
    margin-right: 100px;
}
  
.prodcard_title_switch > a{
    color: #E6E6EB;
    font-size: 1.5em;
}
  
.prodcard_title_switch > a:hover{
    color: black;
    font-size: 1.5em;
}