.progress {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.progress__item {
  display: flex;
  align-items: center;
}

.progress__item * {
  margin-right: 8px;
}

.progress__number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 23px;
  border: 1px solid #595cff;
}

.progress__item.is-done .progress__number {
  background-color: #595cff;
  color: white;
  border: 1px solid #595cff;
}
.progress__item.is-done .progress__step {
   color: #595cff;
}

/* .progress__item.is-active .progress__number {
  background-color: #595cff;
  color: white;
  border: 1px solid #595cff;
} */

.progress__item.is-disabled .progress__number {
  color: #afb1bd;
  border: 1px solid #afb1bd;
}
.progress__item.is-disabled .progress__title {
  color: #afb1bd;
}

.progress__item:after {
  content: "";
  border: 1px solid grey;
  width: 60px;
  margin-right: 20px;
  margin-left: 20px;
}

.progress__item:after {
  content: "";
  border: 1px solid grey;
  width: 60px;
}

.progress > :last-child::after {
  display: none;
}
